body {
  background: black;
  font-size: 4rem;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

/* 버튼 */
.weatherBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  background: #da8e02;
  border: #da8e02;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  font-size: 4rem;
  color: white;
}

.weatherBtn:hover {
  color: lightgray;
}

/* 날씨 아이콘 */
.listBox {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  background: white;
  overflow: hidden;
}

.cloudy {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* display: none; */
}

.raning {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* display: none; */
}

.snowly {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* display: none; */
}

.thunder {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* display: none; */
}

.sunny {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* display: none; */
}
